@page
@model VitrineExpress.Pages.Produtos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.ImagemUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.ImagemUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.QuantidadeEstoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.QuantidadeEstoque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.ControlaEstoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.ControlaEstoque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Disponivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Disponivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.EmDestaque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.EmDestaque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Loja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Loja.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Subcategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Subcategoria)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Produto.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
